<%
  # Copyright (C) 2022 Formez PA
  # This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.
  # This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
  # You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>

  # In caso di inviato obbligo l'utente a loggarsi con CIE o SPID
%>

<div class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <h1><%= t "decidim.spid.devise.invitations.edit.header" %></h1>

        <p><%= t("decidim.spid.devise.invitations.edit.subtitle").html_safe %></p>
      </div>
    </div>

    <div class="row">
      <div class="columns large-6 medium-10 medium-centered">
        <%= render partial: 'decidim/spid/spid', locals: {
          size: current_organization.enabled_omniauth_providers.dig(:spid, :button_size).to_sym,
          url: decidim_spid.public_send("user_#{current_organization.enabled_omniauth_providers.dig(:spid, :tenant_name)}_omniauth_authorize_url"),
          method: :post,
          origin: request.original_url
        } %>
      </div>
    </div>
    <div class="row">
      <div class="columns large-6 medium-10 medium-centered">
        <%= render partial: 'decidim/cie/cie', locals: {
          size: current_organization.enabled_omniauth_providers.dig(:cie, :button_size).to_sym,
          url: decidim_spid.public_send("user_#{current_organization.enabled_omniauth_providers.dig(:cie, :tenant_name)}_omniauth_authorize_url"),
          method: :post,
          origin: request.original_url
        } %>
      </div>
    </div>
  </div>
</div>
