<div class="filters__section">
  <div class="fcell filter">
    <ul class="dropdown menu" data-dropdown-menu data-close-on-click-inside="false">
      <li>
        <a href="#" class="dropdown button">
          <%= t("filter_label", scope: "decidim.admin.filters") %>
        </a>
        <%= dropdown_submenu(submenu_options_tree(i18n_ctx)) %>
      </li>
    </ul>
  </div>
</div>
<div class="card-section fcell grid-x">
  <div class="cell medium-10 filter-status">
    <%= applied_filters_tags(i18n_ctx) %>
  </div>
  <div class="cell auto text-right">
    <%= admin_filters_pagination %>
  </div>
</div>
